@import 'colors.scss';

.modal {
    border-radius:5px;
    width: 25%!important;
    min-height: 70%!important;
    & .btn {
        margin-left:10px!important;
    }
    overflow-y: auto!important;
}