.topBanner {
  position: relative;
  top: 0;
  height: 25%;
  max-width: 100%; }

.ready {
  cursor: pointer; }
  .ready span {
    display: block;
    font-weight: 600;
    padding: 0.5em; }
  .ready > li > i {
    color: black; }

li.tooltipped {
  border: 2px solid #ffdd00;
  border-radius: 2em;
  padding: 5px;
  width: 4em;
  height: 4em;
  cursor: pointer;
  display: inline-block;
  line-height: 5;
  margin: 0 1em; }
  li.tooltipped .material-icons {
    font-size: 2.5em;
    color: white; }

.ready > .tooltipped .material-icons {
  font-size: 2.5em;
  color: black; }

.material-icons {
  cursor: pointer; }

h4 div {
  margin-left: 7.5em;
  margin-top: -1em;
  cursor: pointer; }

p {
  font-size: 1.5em; }
  p .material-icons {
    vertical-align: middle; }

.container {
  padding: 0% !important; }

.title {
  position: absolute;
  left: 80%;
  width: 20%;
  top: 1em; }
  .title .material-icons {
    color: #ff009d;
    position: relative;
    top: -0.5em;
    font-size: 1em; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: fr;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    webkit-transform: translateY(0);
    color: #bb00ff; }
  10% {
    webkit-transform: translateY(-5px);
    color: #00ff9d; }
  20% {
    webkit-transform: translateY(0px);
    color: #bb00ff; }
  30% {
    webkit-transform: translateY(-5px);
    color: #00ff9d; }
  40% {
    webkit-transform: translateY(0px);
    color: #bb00ff; }
  50% {
    webkit-transform: translateY(-5px);
    color: #00ff9d; }
  60% {
    webkit-transform: translateY(0px);
    color: #bb00ff; } }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    color: #bb00ff; }
  10% {
    transform: translateY(-5px);
    color: #00ff9d; }
  20% {
    transform: translateY(0px);
    color: #bb00ff; }
  30% {
    transform: translateY(-5px);
    color: #00ff9d; }
  40% {
    transform: translateY(0px);
    color: #bb00ff; }
  50% {
    transform: translateY(-5px);
    color: #00ff9d; }
  60% {
    transform: translateY(0px);
    color: #bb00ff; } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

.topNavigation {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: -1%;
  top: 7em; }

.waves-effect.waves-black .waves-ripple {
  /* The alpha value allows the text and background color
    of the button to still show through. */
  background-color: black; }

.btn-flat {
  background: black;
  color: #ffdd00;
  height: 3em;
  line-height: 3em; }
  .btn-flat:hover {
    background: #ffdd00 !important;
    color: black !important; }

.btn-floating:hover i {
  color: black !important; }

.btn, .btn-large {
  height: 5em;
  background: black;
  color: #ffdd00; }
  .btn:hover, .btn-large:hover {
    background: #ffdd00 !important;
    color: black !important; }

li .btn.btn-floating {
  height: 40px !important; }
