$dxc-black: rgba(000,000,000, 1);
$dxc-black-lighter: rgba(102,102,102, 1);
$dxc-yellow: rgba(255,237,000, 1);
$dxc-green: rgba(100,255,000 , 1);
$dxc-blue: rgba(000, 201,255, 1);
$dxc-grey: rgba(217,217,217, 1);


